{%load staticfiles%}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Kwunil's Blog </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "modern/css/bootstrap.min.css"%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "modern/css/modern-business.css"%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "modern/font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<style>
    form{margin-top: 50px;}
</style>

<h3> 정말 삭제하시겠습니까? </h3>

<form action="" method="POST">
    {%csrf_token%}
    <input type="submit" value="삭제!" class="btn btn-default"/>
    <a href="{% url "mymap:index" %}" class="btn btn-default"> 아니오! </a>
</form>
</style>
